html,
body {
  background-color: #ffffffe1;
  font-family: "Source Sans Pro", "Trebuchet MS", "Helvetica", "sans-serif";
  line-height: 1em;
  letter-spacing: 0.01em;
  margin: 0;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  background-color: #dad2cf;
  padding: 0 10%;
  color: #111;
}

.navBar {
  grid-area: header;
  padding: 0 !important;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: black;
}

.card-container {
  grid-area: main;
}

.card-container {
  display: grid;
  grid-template-areas: "img cardcontent";
  min-height: 100vh;
}

.card-container > div {
  background-color: white;
  padding: 20px 20px;
}

.img-container {
  grid-area: img;
}

.item-img {
  width: 50vh;
}

.product-container {
  grid-area: cardcontent;
}

.product-container > h2 {
  line-height: 1em;
}

.product-item {
  margin: 20px 0;
}

.product-item > button {
  width: 10em;
  padding: 4px;
  letter-spacing: 0.1em;
  font-weight: bolder;
  color: white;
  font-size: medium;
  background: #00b372;
}
